/* import url poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --main: #44778c; /* #0000ff for blue */
    --dark-white: #f3f1ea; 
    --background: #f9f9f9;
}

/* Start Global */

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* End Global */

/* Start NavBar */


.navbar{
    background-color: var(--dark-white);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    line-height: 30px;
}

.navbar .brand {
    float: left;
    width: 78%;
    text-transform: uppercase;
    height: 10%;
}

img.university-logo {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    top: 10px;
    width: 55px;
    left: 7px;
}

.brand-text {
    letter-spacing: 1px;
    display: inline-block;
    font-size: 30px;
}

.navbar .links {
    float: left;
    width: 22%;
    margin-top: 15px;
    text-transform: capitalize;
}

a {
    color:rgb(0, 0, 0);
}

a:link, a:visited {
    color: var(--main);
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: (internal value);
}

.navbar .links li {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
}

.navbar .links li.active,
.navbar .links li:hover {
    color: var(--main);
    border-bottom: 2px solid var(--main);
}

/* End NavBar */

/* Start button */

.btn{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--main);
    color: #F9F9F9;
}

.btn-white{
    color: var(--main);
    background-color: #f9f9f9;
}


/* End button */

/* Start My Framework */

.clearfix {
    clear: both;
}

/* End My Framework */

.welcome{
    transition: all .3s ease-in-out;
    margin-left: 40px;
    opacity: 1;
}

.loginbox, .sign-up{
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--main);
    box-sizing: border-box; /**/
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    opacity: 0;
    display: none;
}

.sign-up h2, .loginbox h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.sign-up .nuser-box, .loginbox .nuser-box{
    position: relative;
}

.sign-up .nuser-box input, .loginbox .nuser-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 30px;
}

input:focus{
    outline: none;
}

.sign-up .nuser-box label, .loginbox .nuser-box label{
    color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


.sign-up button, .loginbox button{
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.sign-up button:hover, .loginbox button:hover{
    /* Make button shadows */
    color: #4f8297;
    background-color: #EEE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* ~ Make the label float by adding the class .floatlabel to the input field.*/
.sign-up .nuser-box input:focus ~ label, 
.sign-up .nuser-box input:valid ~ label,
.loginbox .nuser-box input:focus ~ label, 
.loginbox .nuser-box input:valid ~ label{
    top: -20px;
    left: 0;
    font-size: 12px;
    color: rgb(167, 167, 167);
}

#firstSign, #secondSign{
    transition: all .3s ease-in-out;
}

#secondSign{
    display: none;
    opacity: 0;
}

.radio input{
    position: relative;
}

/* Start My Framework */


/* End My Framework */
