@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --main: #4f8297; 
    --dark-white: #f3f1ea;
    --dropdown: #e3e8ea;
    --background: #f9f9f9;
}


body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
 

.img-profile {
    display: inline-block;
    position: relative;
    top: 14px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 18px;
    cursor: pointer;
}
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 12px 0px;
    min-width: 120px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    
.content a {
    color: black;
    padding: 8px 8px;
    font-size: 10px;
    text-decoration: none;
    display: block;
}
    
.content a:hover {
    background-color: var(--dropdown)
}
    
.dropdown:hover .content {display: block;}
  
.fa-caret-down{
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 5px;
}
/* Start NavBar */


.navbar{
    background-color: var(--dark-white);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 50%);
    margin-bottom: 50px;
    line-height: 30px;
}

.navbar .brand {
    float: left;
    width: 88%;
    text-transform: uppercase;
    height: 10%;
}

img.logo {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    top: 10px;
    width: 55px;
}

.brand-text {
    letter-spacing: 1px;
    display: inline-block;
    font-size: 30px;
}

.navbar .links {
    float: left;
    width: 12%;
    margin-top: 15px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: black;
}

.navbar .links li {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
}

.navbar .links li.active,
.navbar .links li:hover {
    color: var(--main);
    border-bottom: 2px solid var(--main);
}

/* End NavBar */

.clearfix {
    clear: both;
}


/*  Start of profile student  */
table 
{
    width:800px;
    margin:0 auto;
    padding-top:10px;
    padding-left: 150px;
}

.dlabel 
{
   border-bottom: #4f8297;
    margin:0 auto;
    width:500px;
    height:50px;
    padding-bottom:20px;
}

.grid-container {
    border-bottom: 2px solid black;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 20px;
    padding: 30px;
    margin-bottom: 2%;
}


.account-pic{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 0px black;
    margin: 0 auto ;
}

.details{
    width: 25px;
}

.del{
    align-items: center;
    display: grid;
    grid-template-columns: 40px auto;
}

.profileBtn{
    margin-right: 10px;
    margin-top: 15px;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}


.btn-dark {
    background-color: var(--main);
    color: #F9F9F9;
}

.btn-white{
    color: var(--main);
    background-color: #f9f9f9;
}

.profileBtn:hover{
    background-color: #457487;
    color: #F9F9F9;
    cursor: pointer;
}
.table
{
    padding:10px;
}

/* start tabs */

.tab{
    max-width: 1200px;
    margin: 0 auto;

    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}

.tabcontent {
    max-width: 1200px;
    margin: auto;
    padding: 6px 12px;
}

.tablinks{
    background-color: var(--dark-white);
    padding: 24px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.tablinks:hover{
    background-color: #e9e6db;
}

.tab-border{
    border-bottom: 3px solid var(--main)!important;
}


/* End tabs */

/* End of student profile*/
